# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploaded documents
uploads/
storage/

# ML
*.pt
*.pth
*.bin
*.safetensors

# Data
data/
data/processed/

# Logs
*.log